# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db